$white: #fff; // 白色
$bg-gray: #f5f5fb; // 背景灰
$font-color: #636f7a; // 字体颜色
$hr: #ecedf0; // 分割线颜色

$light-blue: #07a7d2; // 浅蓝（主色调）
$blue: #349be4; // 蓝色
$main-color: #409EFF;
$gray: #909090;
$nav-gray: #90979c;
$border-color: #f6f6f6;
$title-color: #2e3135;
$green: #1cc05a; // 绿色
$dark-green: #119c3e; // 深绿
$blue-green: #1cbec0; // 蓝绿

$light-red: #ef838d; // 浅红

$purple: #d39afb; // 紫色
$deep-purple: #8d97fa; // 深紫

$yellow: #e0bd60; // 棕黄色
$pink: #ffcccc; // 粉色
$orangey-red: #ffcc99; // 橙红色

$main-width: 1000px;
$left-width: 290px;

$border: 1px solid $border-color;