<div style="width: 300px;margin: 30px auto">
  <h2 style="color:#409EFF">请确认你的邮箱地址</h2>
  <h3>点击下方按钮或复制下面的链接进行邮箱验证：</h3>
  <div>
    <a target="_blank" href="<%=url %>"><%= url%></a>
  </div>
  <div style="text-align:center;margin-top: 20px">
     <a target="_blank" href="<%=url %>" 
        style="text-decoration:none;color:#fff; border:1px solid #409EFF;background-color:#409EFF;border-radius:4px;padding: 8px 10px">
      账号申请激活</a>
  </div>
</div>